@using JsonPlaceholder.Models

@section Head  {
    <link href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Album";
}

@model List<Album>


<div class="row">&nbsp;</div>

<h2>Albums</h2>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col">
        <a href="@Url.Action("Photo", "Home")" class="btn btn-primary">View All Photos</a>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col">
        <table id="albumTable" class="table table-hover table-clickable">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Album album in Model)
                {
                    @await Component.InvokeAsync("AlbumDetailComponent", new { album = album })
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#albumTable').DataTable();
        });

        $('#albumTable').on('click', 'tbody tr', function () {
            var albumId = $(this).data('album-id');
            window.location.href = '@Url.Action("Photo", "Home")?albumId=' + albumId;
            //window.location.href = window.location.origin + '/Home/Photo/?albumId=' + albumId;
        });
    </script>
}